{{#partial "styles"}}
    <link rel="stylesheet" href="/css/home.css">
{{/partial}}

{{#partial "content"}}
{{!--     <div class="container-fluid"> --}}
{{!--         <div class="row"> --}}
{{!--             <div class="col-md-6"> --}}
{{!--                 <img src="/images/justice-league.png" alt="justice-league"> --}}
{{!--                 <a href="/squads"><button class="btn btn-primary">Squads</button></a> --}}
{{!--             </div> --}}
{{!--             <div class="col-md-6"> --}}
{{!--                 <img src="/images/spider-man.png" alt="spider-man"> --}}
{{!--                 <a href="/heroes"><button class="btn btn-primary">Heroes</button></a> --}}
{{!--             </div> --}}
{{!--         </div> --}}
{{!--     </div> --}}
{{!--  <nav class="navbar navbar-expand-md navbar-dark fixed-top"> --}}
{{!--       <a class="navbar-brand" href="#"> --}}
{{!--         <div class="brand-icon"> --}}
{{!--           <img src="https://drive.google.com/uc?export=view&id=1hIaH1_a-mu2h32McO1M3n-zi-iImXTba" alt="pubg-logo" class="img-fluid" /> --}}
{{!--         </div> --}}
{{!--       </a> --}}
{{!--     </nav> --}}

{{!--     <main role="main"> --}}
{{!--       <!-- Main jumbotron for a primary marketing message or call to action --> --}}
{{!--       <div class="jumbotron"> --}}
{{!--         <div class="jumbotron-background"></div> --}}
{{!--         <div class="container"> --}}
{{!--           <div class="row"> --}}
{{!--             <div class="col-md-8"> --}}
{{!--               <h1 class="display-3 jumbotron-title">are you ready ?</h1> --}}
{{!--               <div class="row"> --}}
{{!--                 <div class="col-md-8"> --}}
{{!--                   <p class="jumbotron-description"> --}}
{{!--                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. --}}
{{!--                     Impedit quidem repudiandae modi autem adipisci, voluptatum --}}
{{!--                     dignissimos maiores veniam ab quis error. Tempore recusandae --}}
{{!--                     deleniti voluptatem sequi vitae reiciendis unde distinctio. --}}
{{!--                   </p> --}}
{{!--                 </div> --}}
{{!--                 <div class="col-md-8"> --}}
{{!--                   <a href="#" class="cta-btn"> Download Now</a> --}}
{{!--                 </div> --}}
{{!--               </div> --}}
{{!--             </div> --}}
{{!--             <div class="col-md-4"> --}}
{{!--               <div --}}
{{!--                 class="h-100 d-flex justify-content-center align-items-center" --}}
{{!--               > --}}
{{!--                 <div class="hero-image-container"> --}}
{{!--                   <img src="https://drive.google.com/uc?export=view&id=1tfIKfsa-Apo_3csszvvlE1_t4aCNkoC_" alt="" class="img-fluid" /> --}}
{{!--                 </div> --}}
{{!--               </div> --}}
{{!--             </div> --}}
{{!--           </div> --}}
{{!--         </div> --}}
{{!--       </div> --}}
{{!--     </main> --}}

{{!-- <div class="credits"> --}}
{{!--   Images Source - Internet --}}
{{!-- </div> --}}
{{/partial}}

{{> layout.hbs}}