{{#block "footer"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}SuperHero Squads{{/block}}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel='stylesheet' href='/css/index.css'>
    </head>
    <body>
{{/block}}

<div class="header-container-fluid">
    <p id="logo">Heroes Squad</p>
    <ul class="custom-nav">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/squads/list">All Squads</a></li>
        <li role="presentation"><a href="/squads">New Squad</a></li>
        <li role="presentation"><a href="/heroes">New Hero</a></li>
    </ul>
</div>
<div class="container-fluid">
    <!--begin main template-->
    <div class="page-header">
        <h1>Welcome to HeroSquad, A journey into the world of crime fighting!</h1>
    </div>

{{!--     <div class="col-md-12" id="content"> --}}
{{!--         {{#block "content"}} --}}
{{!--         {{/block}} --}}

{{!--     </div> --}}
</div>
<!--end main template-->
 <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="#">
        <div class="brand-icon">
          <img src="https://drive.google.com/uc?export=view&id=1hIaH1_a-mu2h32McO1M3n-zi-iImXTba" alt="pubg-logo" class="img-fluid" />
        </div>
      </a>
    </nav>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="jumbotron-background"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="display-3 jumbotron-title">are you ready ?</h1>
              <div class="row">
                <div class="col-md-8">
                  <p class="jumbotron-description">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Impedit quidem repudiandae modi autem adipisci, voluptatum
                    dignissimos maiores veniam ab quis error. Tempore recusandae
                    deleniti voluptatem sequi vitae reiciendis unde distinctio.
                  </p>
                </div>
                <div class="col-md-8">
                  <a href="#" class="cta-btn"> Download Now</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="h-100 d-flex justify-content-center align-items-center"
              >
                <div class="hero-image-container">
                  <img src="https://drive.google.com/uc?export=view&id=1tfIKfsa-Apo_3csszvvlE1_t4aCNkoC_" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

<div class="credits">
  Images Source - Internet
</div>
{{#block "footer"}}
    </body>
    </html>
{{/block}}