{{#partial "title" }}
    {{name}}
{{/partial}}


{{#partial "content"}}

    <h5>You new {{squad}} was added</h5>
    <p>Nice cause</p>
    <p>I like u your {{cause}}</p>
    <p><a href="/squads/list">View More</a> about the team</p>

{{/partial}}

{{> layout.hbs}}